<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <meta http-equiv="X-UA-Compatible" content = "IE-edge">
        <meta name = "viewport" content="width=device-width, inital-scale = 3.0">
        <title>GameGroove</title>
    </head>

    <style>
        .Recommendations {
            text-emphasis-color: darkblue;
            text-align: left;
        }

        .GameFinding {
            text-size-adjust: 1px;
            text-emphasis-style: impact;
            background-color: blueviolet;

        }

        .side-menu {
            text-size-adjust: 3px;
            background-color: forestgreen;
        }
    </style>

    <body>
    <div class = "report-container">
        <div class="Recommendations">
            <h2 class = "recommended-Games">Because you Played</h2>
        </div>
    </div>

    <div class = "GameFinding">
        <input type = "text" placeholder="Search">
    </div>

    <div class = "side-menu">
        <ul>
            <li>Boardgames</li>
        </ul>
    </div>
</body>
</html>