<!DOCTYPE html>
<html>
    <head>
        <style>
            .Gametext{
                text-emphasis-color: white;
                text-decoration-style: double;
                background-color: darkviolet;
                text-align: left;
            }
        </style>
    </head>

    <body>
        <div class = "Gametext">
    <p>
        <strong>Number of Players:</strong>
    </p>

    <p>
        <strong>Difficulty</strong>
    </p>

    <p>
        <strong>Playtime</strong>
    </p>

    <p>
        <strong>Genre</strong>
    </p>

    <p>
        <strong>Age Range</strong>
    </p>

    <p>
        <strong>Theme</strong>
    </p>
    </div>

    </body>
</html>